[global]
   workgroup = WORKGROUP
   server string = Samba Server
   security = user
   map to guest = Bad User
   unix charset = UTF-8
   dos charset = CP850
   log file = /var/log/samba/log.%m
   max log size = 1000
   server role = standalone server
   obey pam restrictions = yes
   pam password change = yes
   passwd program = /usr/bin/passwd %u
   username map = /etc/samba/smbusers

[{{ samba_share_name }}]
   path = {{ samba_share_path }}
   browseable = {{ samba_browseable }}
   writable = {{ samba_writable }}
   valid users = {{ samba_valid_users }}
   force group = {{ samba_group }}
   create mask = {{ samba_create_mask }}
   directory mask = {{ samba_directory_mask }}
